@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.thin-border {
  border-bottom: 1px solid rgba(245, 235, 201, 0.25);
}

.thin-border-rounded {
  border: 1px solid rgba(245, 235, 201, 0.25);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.main {
  background-color: var(--primary);
}

@layer base {
  :root {
    --primary: 46, 69%, 87%;
    --secondary: 46, 26%, 73%;
    --background: 0, 0%, 10%;
  }
}
